* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.container {
  margin-top: 0px auto;
  width: 1300px;
}

.header__above {
  font-weight: 400;

  padding: 20px 0;
  width: 100%;

  background: linear-gradient(90deg, #f01543 -1.58%, #fe724c 100%);
}

.header__above .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.header__left,
.header__left a {
  color: white;
  text-decoration: none;
}

.header__left .fa-angle-down {
  font-size: 12px;
}

.header__mid p {
  margin: 0px;
  color: #000929;
}

.header__mid a {
  color: #000929;
}

.header__left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
}

.header__right {
  color: white;
  display: flex;
  gap: 30px;
}

.header__right a {
  margin-left: 6px;
  font-size: 14px;
  color: white;
  text-decoration: none;
}

.header__down {
  width: 100%;
  background-color: #000929;
  top: 0;
  padding: 24px;
  position: sticky;
  z-index: 999;
}

.header__down nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Plus Jakarta Sans", sans-serif;
  gap: 18px;
}

.header__down__menu__lists {
  list-style-type: none;
  color: white;
  display: flex;
  gap: 22px;
  margin: 0px;
}

.header__down__menu__lists a {
  text-decoration: none;
  color: white;
}

.header__down__menu__lists li {
  transition: linear 0.3s;
  cursor: pointer;
}

.header__down__menu__lists li:hover {
  border-bottom: 1px solid red;
}

.header__down__btn {
  display: flex;

  align-items: center;
}

.header__down__btn svg {
  position: absolute;
  right: 16px;
  top: 16px;
}

.header__down__btn svg:hover {
  cursor: pointer;
}

.header__down__btn__inp {
  position: relative;
  margin-right: 10px;
}

.header__down__btn input {
  font-size: 16px;
  border-radius: 10px;
  padding: 13px 20px;
  border: 1px solid #6c727f;
  background-color: #122833;
}

.header__down__btn__fav {
  width: 52px;
  height: 52px;
  color: white;
  border-radius: 50%;
  border: 1px solid #6c727f;
  background-color: #122833;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 19px;
  position: relative;
  transition: linear 0.3s;
}

.header__down__btn__fav:hover {
  background-color: red;
  color: white;
  cursor: pointer;
}

.header__down__btn__shop {
  width: 52px;
  height: 52px;
  color: white;
  border-radius: 50%;
  border: 1px solid #6c727f;
  background-color: #122833;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 19px;
  position: relative;
  margin-left: 10px;
  transition: linear 0.3s;
}

.header__down__btn__shop:hover {
  background-color: red;
  color: white;
  cursor: pointer;
}

.header__down__btn__fav::after {
  position: absolute;
  content: "8";
  top: 0;
  right: 0;
  width: 16px;
  height: 16px;
  text-align: center;
  background-color: #f01543;
  color: #fff;
  font-size: 10px;
  font-weight: 500;
  font-family: Plus Jakarta Sans;
  border-radius: 50%;
}

.header__down__btn__shop::after {
  position: absolute;
  content: "8";
  top: 0;
  right: 0;
  width: 16px;
  height: 16px;
  text-align: center;
  background-color: #f01543;
  color: #fff;
  font-size: 10px;
  font-weight: 500;
  font-family: Plus Jakarta Sans;
  border-radius: 50%;
}

.header__down__login {
  display: flex;
  gap: 20px;
}

.header__down__login button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px 32px;
  font-size: 16px;
  border-radius: 10px;
  font-weight: 600;
  color: white;
  border: 1px solid white;
  background-color: #122833;
  transition: linear 0.3s;
}

.header__down__login button:hover {
  background-color: red;
  color: white;
  cursor: pointer;
  border: none;
}

.header__down__login button:first-child {
  background-color: #f01543;
  border: none;
}

.display__button {
  display: none;
}

.menu__tr__section {
  margin-top: -100px;
  color: white;
  padding: 130px 0 128px;
  background: url(https://reservq.vercel.app/assets/inner-bg-99d2ac4c.png)
    no-repeat center / cover;
}

.menu__tr__section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__tr__section h1 {
  font-size: 48px;
  margin-bottom: 20px;
  font-weight: 700;
}

.menu__tr__section a {
  font-size: 24px;
  color: white;
  font-weight: 500;
  text-decoration: none;
}

.menu__tr__section span {
  font-size: 24px;
  font-weight: 500;
}

.food__details__section .container {
  display: flex;
  gap: 20px;
}

.food__details__section__left h2 {
  margin: 50px 0px;
  font-size: 48px;
  font-weight: 700;
  color: #000929;
}

.food__details__section__left__images {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  width: 870px;
}

.food__details__section__left__down {
  padding: 40px 0px;
}

.food__details__section__left__down__link {
  display: flex;
  gap: 50px;
}

.food__details__section__left__down__link a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  font-weight: 600;
  transition: all 0.3s linear;
}

.food__details__section__left__down p {
  margin: 30px 0;
  font-size: 16px;
  font-weight: 500;
  color: #4d5461;
}

.food__details__section__left__down h5 {
  font-size: 18px;
  font-weight: 700;
  color: #000929;
}

.food__details__section__left__down a:hover {
  color: red;
}

.food__details__section__left__down ul,
.food__details__section__left__down ol {
  font-size: 16px;

  margin-bottom: 40px;
  font-weight: 500;
  color: #4d5461;
}

.food__details__section__right {
  margin-top: 50px;
}

.food__details__section__right__inp {
  display: flex;

  border-radius: 6px;
  background: #fff;
  padding: 14px;
  align-items: center;
  justify-content: space-between;
  margin: 16px 0px;
}

.food__details__section__right__above h5 {
  font-size: 24px;
  font-weight: 700;
  color: #000;
}

.food__details__section__right__above {
  padding: 24px;
  border-radius: 10px;
  border: 1px solid #e5e6eb;
  background-color: #f9fafb;
}

.food__details__section__right__above label {
  font-size: 16px;
  font-weight: 500;
}

.food__details__section__right__above label:hover {
  cursor: pointer;
}

.food__details__section__right__inp__icon1 {
  width: 40px;
  height: 42px;
  font-size: 16px;
  font-weight: 400;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff8ed;
  color: #ffc403;

  border-radius: 4px;
}

.food__details__section__right__inp__icon1:hover,
.food__details__section__right__inp__icon2:hover {
  cursor: pointer;
}

.food__details__section__right__inp__icon2 {
  width: 40px;
  height: 38px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  color: white;
}

.food__details__section__right__above__end__l {
  border: 1px solid #fccbd5;
  background: #fff;
  border-radius: 10px;
  padding: 7px;
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 16px;
  font-weight: 500;
  color: #000929;
  width: 140px;
}

.food__details__section__right__above__end__r {
  width: 184px;
  height: 58px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 10px;
  color: #fff;
  background-color: #000929;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
}

.food__details__section__right__above__end__r:hover {
  cursor: pointer;
}

.food__details__section__right__above__end__r p {
  margin: 0;
}

.food__details__section__right__above__end__r i {
  font-size: 14px;
}

.food__details__section__right__above__end {
  display: flex;
  gap: 50px;
}

.food__details__section__right__above__foot button {
  width: 100%;
  margin-top: 20px;
  border: 1px solid red;
  background-color: red;
  color: white;
  text-align: center;
  border-radius: 10px;
  padding: 12px 16px;
  transition: all 0.5s linear;
}

.food__details__section__right__above__foot button:hover {
  background-color: white;
  color: red;
}

.food__details__section__right__images {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 50px;
}

.menu__meals__section__cards__image {
  position: relative;
  width: 100%;
  margin-top: 50px;
}

.menu__meals__section__cards__image__icon {
  position: absolute;
  top: 18px;
  left: 10px;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f01543;
  font-size: 19px;

  display: flex;
}

.menu__meals__section__cards__image__text {
  position: absolute;
  top: 18px;
  right: 10px;

  font-size: 16px;
  font-weight: 700;
  color: #fff;
  padding: 8px 10px;
  border-radius: 6px;
  background-color: #000929cc;
}

.menu__meals__section__cards {
  width: 33%;
  transition: linear 0.3s;
}

.menu__meals__section__cards:hover {
  transform: scale(0.9);
  cursor: pointer;
}

.menu__meals__section__cards__image2 {
  bottom: -18px;
  left: 0;
  position: absolute;
  width: 110px;
  height: 40px;
}

.menu__meals__section__cards__sale {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 16px;
}

.menu__meals__section__cards__sale h3 {
  font-size: 24px;
  font-weight: 800;
  color: #f01543;
  margin: 0px;
}

.menu__meals__section__cards__sale::after {
  content: "";
  background-color: rgba(220, 218, 218, 0.809);
  width: 93%;
  height: 1px;
  position: absolute;
  top: 60px;
}

.menu__meals__section__cards__sale__star {
  font-size: 16px;
  font-weight: 700;
  color: #000929;
}

.menu__meals__section__cards__sale__star i {
  color: #ffb23e;
  font-size: 19px;
}

.menu__meals__section__cards__recept {
  padding: 10px 16px;
}

.menu__meals__section__cards__recept a {
  text-decoration: none;
  color: #000929;
  font-size: 24px;
  font-weight: 700;
}

.menu__meals__section__cards__recept__done__icon,
.menu__meals__section__cards__recept__done2__icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #fe724c;
  color: #fe724c;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.menu__meals__section__cards__recept__done,
.menu__meals__section__cards__recept__done2 {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #4d5461;
}

.menu__meals__section__cards__cart {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  border-radius: 10px;
  font-weight: 500;
  font-size: 18px;
  color: #6c727f;
  border: 1px solid rgba(220, 218, 218, 0.809);
  padding: 16px;
  width: 93%;
  margin: 16px 0px 16px 14px;
  transition: linear 0.3s;
}

.menu__meals__section__cards__cart:hover {
  background-color: red;
  color: white;
  cursor: pointer;
}

.menu__meals__section__cards__body {
  border-radius: 0px 0px 10px 10px;
  background-color: white;
  padding-bottom: 4px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.menu__meals__section__cards__above {
  display: flex;
  gap: 30px;
}

.order__section h5 {
  font-size: 24px;
  font-weight: 700;
  color: #000929;
}

.order__section {
  margin-bottom: 80px;
}

.home__apps__section {
  background: url(https://reservq.vercel.app/assets/rest-bg-542f355f.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 101px 0 0px 0px;
}

.home__apps__section .container {
  display: flex;
  gap: 100px;
}

.home__apps__section__left {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.home__apps__section__left h2 {
  font-size: 48px;
  font-weight: 700;
}

.home__apps__section__left h4 {
  font-size: 18px;
  font-weight: 500;
  color: #e5e6eb;
}

.home__apps__section__left__buttons {
  display: flex;
  gap: 20px;
}

.home__apps__section__left__buttons button {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  justify-content: center;
  border: none;
  width: 225px;
  height: 68px;
  font-weight: 700;
}

.button__play {
  background-color: white;
  color: black;
}

.button__play i {
  font-size: 32px;
}

.button__app {
  background-color: black;
  color: white;
}

.button__app i {
  font-size: 44px;
}

footer {
  padding: 110px 0;
  background: url(https://reservq.vercel.app/assets/Footers-bg-7148736e.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer .container {
  display: flex;
  gap: 40px;
  color: white;
}

.footer__left h4 {
  color: #f4f4f6;
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
}

.footer__left__down {
  display: flex;
  gap: 20px;
  margin-top: 40px;
}

.footer__left__down__icon {
  border-radius: 8px;
  background: #19213e;
  width: 40px;
  height: 40px;

  line-height: 40px;
  color: #747681;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: linear 0.3s;
}

.footer__left__down__icon:hover {
  background-color: red;
  color: white;
  cursor: pointer;
}

.footer__mid__left,
.footer__mid__right {
  display: flex;
  flex-direction: column;
  padding: 0 12px;
  gap: 30px;
}

.footer__mid__left h3,
.footer__mid__right h3 {
  font-size: 24px;
  font-weight: 700;
}

.footer__mid__left ul,
.footer__mid__right ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__mid__left ul a:hover,
.footer__mid__right ul a:hover {
  color: red;
}

.footer__mid__left ul a,
.footer__mid__right ul a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  margin-left: -30px;
  font-weight: 500;
  transition: linear 0.3s;
}

.footer__right__above h3 {
  font-size: 24px;
  font-weight: 700;
}

.footer__right__above__sub input {
  width: 261px;
  height: 56px;
  background: rgba(231, 229, 234, 0.2);
  border-radius: 10px;
  color: #fff;
  border: 1px solid rgba(231, 229, 234, 0.2);
  padding-left: 64px;
}

.footer__right__above__sub i {
  position: relative;
  top: 20px;
  left: 60px;
  font-size: 20px;
}

.footer__all {
  display: flex;
}

.footer__all2 {
  display: flex;
  gap: 16px;
}

.footer__right__above__sub {
  display: flex;
  margin-top: 26px;
  gap: 20px;
  margin-left: -38px;
}

.footer__right__above__sub button {
  width: 140px;
  height: 56px;
  font-size: 16px;
  font-weight: 500;
  background-color: #f01543;
  color: #fff;
  padding: 13px 32px;
  border-radius: 10px;
  border: none;
}

.footer__right__above__sub button:hover {
  background-color: white;
  color: red;
  border: 1px solid red;
}

.footer__right__down {
  margin-top: 36px;
}

.footer__right__down h6 {
  font-size: 20px;
  font-weight: 500;
}

.footer__right__down__images {
  display: flex;
  gap: 16px;
  margin-top: 16px;
}

.footer__end {
  width: 100%;
  padding: 17px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000929;
  color: #9ea3ae;
  font-size: 18px;
}

.footer__end a {
  font-size: 18px;
  color: #9ea3ae;
}

.display__button {
  width: 40px;
  height: 40px;
  border: none;
  background: #f01543;
  color: #fff;
  border-radius: 5px;
  font-size: 18px;
  display: none;
}

@media only screen and (max-width: 1578px) {
  .menu__meals__section__cards__above {
    flex-direction: column;
  }

  .order__section .container {
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .container {
    flex-direction: column;

    align-items: center;
  }

  .menu__meals__section__lists__all {
    display: none;
  }

  .menu__meals__section__cards__image__icon,
  .menu__meals__section__cards__image__text {
    display: none;
  }

  .menu__meals__section__cards__body {
    width: 420px;
  }

  .order__section {
    margin-top: 30px;
  }
}



@media only screen and (max-width: 1199px) {
  .header__above {
    display: none;
  }

  .header__down__menu {
    display: none;
  }

  .header__down__btn {
    display: none;
  }

  .header__down__login {
    display: none;
  }

  .display__button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer__all,
  .footer__all2,
  .footer__right {
    flex-direction: column;
    margin-top: 20px;
  }

  .home__apps__section__left__buttons {
    flex-direction: column;
    margin-bottom: 10px;
  }

  .img__size {
    width: 500px;
    height: 300px;
  }

  .food__details__section__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .food__details__section__left__images img {
    width: 120px;
    height: 100px;
  }

  .food__details__section__left__images {
    width: 500px;
  }

  .food__details__section__left h2 {
    font-size: 30px;
  }

  .food__details__section__left__down {
    display: none;
  }

  .food__details__section__left hr {
    display: none;
  }
}

@media only screen and (max-width: 865px) {
  .home__apps__section__right {
    display: none;
  }
}

@media only screen and (max-width: 707px) {
  .home__questions__section__images {
    display: none;
  }
}

@media only screen and (max-width: 596px) {
  .questions {
    width: 400px;
  }

  .container {
    width: 400px;
  }

  .display__button {
    margin-right: 80px;
  }

  .home__apps__section__left h2 {
    font-size: 24px;
  }

  .home__apps__section__left h4 {
    font-size: 16px;
  }

  .img__size {
    width: 300px;
    height: 200px;
  }

  .food__details__section__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .food__details__section__left__images img {
    width: 60px;
    height: 50px;
  }

  .food__details__section__left__images {
    width: 300px;
    display: flex;
  }
}

@media only screen and (max-width: 456px) {
  .container {
    width: 340px;
  }

  .menu__meals__section__cards__image img {
    width: 300px;
    height: 200px;
  }

  .menu__meals__section__cards__body {
    width: 300px;
  }

  .menu__meals__section__cards__image2 {
    display: none;
  }

  .home__questions__section__left h2 {
    font-size: 20px;
  }

  .questions {
    width: 250px;
    font-size: 16px;
  }

  .footer__right__above__sub {
    flex-direction: column;
    margin-left: 10px;
  }

  .footer__right__above__sub i {
    display: none;
  }

  .footer__right__down__images {
    flex-direction: column;
  }

  .food__details__section__right__above {
    height: 740px;
    width: 300px;
  }

  .food__details__section__right__inp__icon1,
  .food__details__section__right__inp__icon2 {
    width: 26px;
    height: 26px;
    font-size: 14px;
  }

  .food__details__section__right__inp {
    display: flex;
    gap: 6px;
  }

  .food__details__section__right__above__end__l {
    width: 100px;
  }

  .food__details__section__right__images img {
    width: 300px;
  }

  .food__details__section__right__above__end {
    flex-direction: column;
  }

  .footer__right__down__images img {
    width: 50px;
    height: 30px;
  }
}

@media only screen and (max-width: 395px) {
  .container {
    width: 260px;
  }

  .display__button {
    padding: 10px;
  }
}
